{% extends 'base.html' %} 

{% block content %}
{% load static %}

<h2>Login</h2>

<!-- Add the wrapper div from your old login page -->
<div class="wrapper">
    <div id="formContent">
        <div class="svgCourtOfArms">
            <img src="{% static 'png/logo.png' %}" id="icon" alt="Logo" style="width: 25%; margin-top: 20px;"/>
        </div>
        <!-- Login Form -->
        <form method="post">
            {% csrf_token %}
            <!-- Replace the form fields with the ones from your old login page -->
            <input type="text" class="form-control" name="username" id="username" placeholder="Username" style="border-width: 0px; background-color: rgb(243, 243, 243); width: 300px; margin-left: auto; margin-right: auto; text-align: center; font-size: small; margin-top: 10px;">
            <input type="password" class="form-control" name="password" id="password" placeholder="Password" style="border-width: 0px; background-color: rgb(243, 243, 243); width: 300px; margin-left: auto; margin-right: auto; text-align: center; font-size: small; margin-top: 10px;">
            <input type="submit"  value="Sign in" style="width: 300px; background-color: rgb(4, 161, 4); text-transform: none; height: 30px; font-size: small; padding-top: 7px; margin-top: 10px;">
            <a href="{% url 'register' %}">Register</a>
        </form>
        <!-- Remind Passowrd -->
        <div id="formFooter" >
            <a href="{% url 'password_reset' %}" class="underlineHover" style="font-size: small; text-transform: none; ">Forgot Password?</a>
        </div>
      
    </div>
</div>
{% endblock %}
