{% extends 'base.html' %}
{% load static %} <!-- Add this line to load static files -->

{% block content %}


<!-- Add the wrapper div from your old login page -->
<div class="wrapper">
    <div id="formContent">
        <form method="post">
            <h2>Send password reset link</h2>
            {% csrf_token %}
            {{ form.as_p }}
            <!-- Replace the form fields with the ones from your old login page -->
            <input type="submit" value="Reset" style="width: 300px; background-color: rgb(4, 161, 4); text-transform: none; height: 30px; font-size: small; padding-top: 7px; margin-top: 10px;">
        </form>
        <div id="formFooter" >
            <a class="underlineHover" style="font-size: small; text-transform: none; ">Forgot Password?</a>
        </div>
    </div>
</div>

<a href="{% url 'login' %}">Back to login page</a>
{% endblock %}

