{% extends 'base.html' %}

{% block content %}
<h2>Change Password</h2>

<div class="wrapper">
    <div id="formContent">
        <!-- Change Password Form -->
        <form method="post">
            {% csrf_token %}
            <!-- Replace the form fields with the ones from your login page -->
            <input type="password" class="form-control" name="old_password" id="old_password" placeholder="Old Password" style="border-width: 0px; background-color: rgb(243, 243, 243); width: 300px; margin-left: auto; margin-right: auto; text-align: center; font-size: small; margin-top: 10px;">
            <input type="password" class="form-control" name="new_password1" id="new_password1" placeholder="New Password" style="border-width: 0px; background-color: rgb(243, 243, 243); width: 300px; margin-left: auto; margin-right: auto; text-align: center; font-size: small; margin-top: 10px;">
            <input type="password" class="form-control" name="new_password2" id="new_password2" placeholder="Confirm New Password" style="border-width: 0px; background-color: rgb(243, 243, 243); width: 300px; margin-left: auto; margin-right: auto; text-align: center; font-size: small; margin-top: 10px;">
            <input type="submit"  value="Change" style="width: 300px; background-color: rgb(4, 161, 4); text-transform: none; height: 30px; font-size: small; padding-top: 7px; margin-top: 10px;">
        </form>
        <div id="formFooter" >
            <a class="underlineHover" style="font-size: small; text-transform: none; ">Forgot Password?</a>
        </div>
    </div>
</div>

<a href="{% url 'dashboard' %}">Back to dashboard</a>
{% endblock %}
