<!--users/templates/registration/password_reset_complete.html-->
% extends 'base.html' %}
{% load static %} <!-- Add this line to load static files -->

{% block content %}

<!-- Add the wrapper div from your old login page -->
<div class="wrapper">
    <div id="formContent">
        <h2>Password reset complete</h2>
        <a href="{% url 'login' %}" style="width: 300px; background-color: rgb(4, 161, 4); text-transform: none; height: 30px; font-size: small; padding-top: 7px; margin-top: 10px;">Back to login page</a>
        
    </div>
</div>

{% endblock %}