{% extends 'base.html' %}
{% load static %} <!-- Add this line to load static files -->

{% block content %}

<!-- Add the wrapper div from your old login page -->
<div class="wrapper">
    <div id="formContent">
        <h2>Confirm password reset</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <!-- Replace the form fields with the ones from your old login page -->
            <input type="submit" value="Confirm" style="width: 300px; background-color: rgb(4, 161, 4); text-transform: none; height: 30px; font-size: small; padding-top: 7px; margin-top: 10px;">
        </form>
    </div>
</div>

{% endblock %}
